@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*
General
*/
body {
    width: 280px;
    height: 450px;
    font-family: 'Poppins', sans-serif;
}
div {
    padding: 5px;
}

/*
Header
*/
#app-version {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #858585;
    color: white;
    font-size: 0.65rem;
    border-radius: 5px;
    padding: 2px;
}
#app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin: auto;
    padding-top: 20px;
}
#search-box1 {
    margin: auto;
    width: 80%;
    margin: auto;
    text-align: center;
}

/*
Feature
*/
.feature-name {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.feature-container {
    margin: auto;
}

/*
ApiRunner
*/
.td_right {
    text-align: center;
    min-height: 40px;
}
button {
    text-align: center;
}

/*
Error message
*/
#error-message {
    position: absolute;
}
#error-message-text {
    text-align: center;
}
