@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*
General
*/
body {
    width: 300px;
    height: 450px;
    font-family: 'Poppins', sans-serif;
}
div {
    padding: 5px;
}

/*
Header
*/
#app-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #858585;
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}
#app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin: auto;
    padding-top: 20px;
}

/*
ApiRunner
*/
table {
    width: 100%;
}
.td-status {
    min-height: 40px;
}
.td-name {
    min-height: 40px;
    width: 110px;
}
.status-table {
    min-width: 100%;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
