@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*
General
*/
body {
    width: 225px;
    height: 325px;
    font-family: 'Poppins', sans-serif;
}
div {
    padding: 5px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}

/*
Header
*/
#app-version {
    position: absolute;
    background-color: #858585;
    color: white;
    font-size: 0.65rem;
    padding: 0px 7px;
    margin: 0px;
    border-radius: 5px;
}
#app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin: auto;
}
#search-box {
    margin: auto;
    width: 80%;
    margin: auto;
    text-align: center;
}

/*
Feature
*/
.feature-name {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.feature-container {
    margin: auto;
}

/*
ApiRunner
*/
.td_right {
    text-align: center;
    min-height: 40px;
}
button {
    text-align: center;
}
